@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    padding-bottom: 115px;
}
.carousel.carousel-slider .control-arrow {
    background-color: rgb(80, 80, 80);
    height: 30%;
    top: 35%;
    opacity: 0.4;
}
.carousel .control-prev.control-arrow::before {
    border-right: 8px solid rgb(126, 126, 126);
}
.carousel .control-next.control-arrow::before {
    border-left: 8px solid rgb(126, 126, 126);
}

.map-container {
    height: 450px;
}

#imageBrowse::file-selector-button {
    background-color: rgb(37 99 235);
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;
    border: none;
    border-radius: 0 0 0 0;
    color: white;
}

#imageBrowse::file-selector-button:hover {
    background-color: rgb(96 165 250);
}
