@tailwind base;
@tailwind components;
@tailwind utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
body {
    background-color: rgba(218, 195, 161, 0.692);
    padding-bottom: 115px;
}
.carousel.carousel-slider .control-arrow {
    background-color: rgb(255, 255, 255);
    height: 30%;
    top: 35%;
    opacity: 0.8;
}
.carousel .control-prev.control-arrow::before {
    border-right: 8px solid rgb(126, 126, 126);
}
.carousel .control-next.control-arrow::before {
    border-left: 8px solid rgb(126, 126, 126);
}

.map-container {
    height: 450px;
}

#imageBrowse::file-selector-button {
    background-color: rgb(37 99 235);
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;
    border: none;
    border-radius: 0 0 0 0;
    color: white;
}

#imageBrowse::file-selector-button:hover {
    background-color: rgb(96 165 250);
}
.react-datetime-picker__wrapper {
    border: none;
}
.stroke {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}
.react-calendar__tile--active:enabled {
    background-color: #056dd4;
}
.ProseMirror:focus {
    outline: none;
}

.ProseMirror > * + * {
    margin-top: 0.15em;
}

.ProseMirror ul,
.ProseMirror ol {
    padding: 0 1rem;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
    line-height: 1.1;
}

.ProseMirror code {
    background-color: #d6d6d6;
    color: #616161;
}

.ProseMirror pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
}
.ProseMirror pre code {
    color: inherit;
    padding: 0;
    background: none;
    font-size: 0.8rem;
}

.ProseMirror img {
    max-width: 100%;
    height: auto;
}

.ProseMirror blockquote {
    padding-left: 1rem;
    border-left: 2px solid #757575;
}

.ProseMirror hr {
    border: none;
    border-top: 2px solid #757575;
    margin: 2rem 0;
}

.commentInput {
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 5px 5px;
    min-height: 100px;
}
.menuBar {
    padding-top: 5px;
    border-width: 1px;
    border-radius: 5px 5px 0 0;
}

.icon {
    padding: 2px;
    border: 1px solid #9ca3af;
    border-radius: 4px;
    font-size: 1.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    color: #9ca3af;
    margin-top: auto;
    margin-bottom: auto;
}

.icon:hover {
    color: black;
    border-color: black;
}
